* {
    padding:0;
    margin:0;    
    list-style:none;
    border:0
    }

   html{

    font-size:62.5%;
    font-family:Gilroy;
    line-height: 28px;
}
    
header-initial{
    background-image: url(img/fundo-header.png);
    width: 100vw;
    height: 90vh;
}


body{
    font-size:2rem;
}